    <h2 class="text-center"><i class="fa-solid fa-user"></i> My Dashboard</h2>
    <h3 class="text-center">Create New Post:</h3>
<section class="container">
    <div class="card-body">
    <form class="new-post-form">
        <div class="mb-2">
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title"/>
        </div>

        <div>
            <label for="post-text">Post</label>
            <textarea type="text" id="post-text" name="post-text"></textarea>
        </div>
        <button type="submit" id="new-post" class="new-post mt-2 p-2 btn">Create</button>

    </form>
    </div>
</section>

{{#if posts.length}}
<section>
    <h2>My Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li class="mb-2">
            {{> post-info post}}
            <div class="mt-1">
            <a href="/dashboard/edit/{{post.id}}" class="edit-link px-1 mt-2">Edit post</a>
            </div>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/new.js"></script>