    <h2>My Dashboard</h2>
<section>
    <h3>Create New Post:</h3>
    <div class="card-body">
    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title"/>
        </div>

        <div>
            <label for="post-text">Post</label>
            <textarea type="text" id="post-text" name="post-body"></textarea>
        </div>
        <button type="submit" id="new-post" class="btn">Create</button>

    </form>
    </div>
</section>

{{#if posts.length}}
<section>
    <h2>My Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <div>
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
            </div>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/new.js"></script>