{{>post-info post}}

{{#if loggedIn}}
<div class="contaier">
<div class="card w-80 p-2">
<div class="card-body">
  <form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="comment-btn btn" type="submit">add comment</button>
  </div>
</form>
</div>
</div>

{{/if}}

{{> comments post.comments}}
{{#if loggedIn}}
</div>
<script src="/javascript/comment.js"></script>
{{/if}}
