/* styling */
:root {
  --primary: #ccdad1;
  --secondary: #9caea9;
  --tertiary: #788585;
  --light-dark: #6f6866;
  --dark: #38302e;
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 5px;
  color: var(--dark);
  line-height: 1.25;
}

header {
  margin-top: 50px;
}
h3 {
  font-size: calc(1rem + 0.6vw);
}
main {
  margin: 20px auto;
  width: 94%;
}

a {
  text-decoration: none;
  color: rgb(86, 159, 169);
}

p {
  font-size: 1.2rem;
}

input {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

.nav-item {
  margin: 0 25px;
}

.nav-item a {
  color: var(--primary);
}

.list-item {
  margin: 10px 0 0 0;
}

textarea {
  transition: width 0.4s ease-in-out;
  width: 100%;
}

.card {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
}

.comments {
  text-decoration: underline;
}
